.error-page {
  text-align: center;
  padding-top: 4%;
  min-height: 400px;
  .error-page-icon {
    font-size: 4em;
  }
  a {
    
    &:hover, &:active, &:focus {
      color: $base-e;
      background: $base-b;
    }
  }
  > p {
    padding-bottom: 3%;
    font-weight: 600;
    max-width: 350px;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.2em;
    padding: 15px 0;
  }
}