.header-bg {
  background: url("http://p4.zdassets.com/hc/theme_assets/1021718/200071026/header-v3.jpg") no-repeat;
  background-position: center;
}

.header-bg {
  padding: 15px 0;
  background-color: $base-f;
}

.brand-logo {
  padding: 20px 0;
}

.container.home-section .list-group a {
  &:nth-child(n+6) {
    display: none;
  }
}

a.home-section-card {
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;

  h3 {
    font-family: $primary-site-font-condensed;
  }
  
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

i.home-section-icon {
  padding: 20px;
  border-radius: 100px;
  font-size: 2.5em;
  color: white;
  background-color: $base-e;   
}

.promoted-articles {
  h3 {
    margin-top: 0;
  }
}