.header-bg {
  background: url("http://p4.zdassets.com/hc/theme_assets/1021718/200071026/header-v4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: $base-f;
  background-position: center;
  padding: 15px 0;
}

.brand-logo {
  padding: 20px 0;
}

.container.home-section .promoted-articles li {
  &:nth-child(n+6) {
    display: none;
  }
}

a.home-section-card {
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;

  h3 {
    font-family: $primary-site-font-condensed;
  }
  
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:hover .icon-block {
    background-color: $brand-d;
  }
}

.icon-block {
  display: inline-block;
  padding: 20px 22px;
  border-radius: 1000px;
  color: white;
  background-color: $brand-a; // $base-e;

  i.home-section-icon {
    width: 30px;
    height: 30px;
    font-size: 2.25em;
  }
}

.promoted-articles {
  h3 {
    visibility: hidden;
    margin-top: 0;
  }
}

.panel.panel-diag-promo {
  border: 2px $brand-a solid;
  .panel-body {
    padding: 0;
  }
  .diag-promo-cta {
    display: block;
    text-decoration: none;
    font-size: 1.7em;
    padding: 15px;
    background: $base-a;
    transition: box-shadow .5s;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px $base-e;
    }
  }
}