
ul.nav.nav-tabs > li.active {
  position: relative;

  a {
    color: $brand-d;
  }

  &:after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0;
    left: 50%;
    bottom: 0; 
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid $brand-d;
  }
}
 
.nav-diagnostic-form,
.diagnostic-form,
.service-request-form {
  .modal-footer {
    text-align: center;
    .btn.btn-danger {
      padding: 10px 30px;
    }
  }
}

.fsBody.fsEmbed {
  padding: 0;
}

.form {
  max-width: 600px;
  margin-top: 20px;
}

.form-field {
  + .form-field {
    margin-top: 25px;
  }
  label {
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.1em;
  }
}

.form footer {
  margin-top: 20px;
  text-align: right;
  background: transparent;
}

.answer-form-controls input[type="submit"], .comment-form input[type="submit"] {
  border-color: rgba(0, 0, 0, 0);
  color: $base-a;
  padding: 10px 20px;
  background-color: $base-d;
}