#home-page-search {
  
  form {

    &.search input[type="submit"] {
      border: 2px solid #3b3b3b;
      cursor: pointer;
      height: 60px;
      margin: 0 0 0 -4px;
      vertical-align: top;
      width: 10%;
      border-radius: 0 4px 4px 0;
      text-indent: -9999px;
    }

    input[type="submit"] {
      background: url("http://p4.zdassets.com/hc/theme_assets/1021718/200071026/search-submit-dark-grey.png") no-repeat center center #fff;
      background-size: 50%;
    }
  } 

  .buttn-search,
  .tablets > form > input[type="submit"] {
    background: url("http://p4.zdassets.com/hc/theme_assets/1021718/200071026/model-search-icon.png") no-repeat center center;
  }

  input#query {
    background: $base-a;
    border: solid $base-e;
    border-width: 2px 0 2px 2px;
    color: $base-e;
    font-family: $primary-font;
    height: 60px;
    margin: 0 0 30px 0;
    padding: 0 0 0 5%;
    width: 85%;
    border-radius: 4px 0 0 4px;
  }

  .search-form {
    margin: 30px 0;
  }

  .searchbox {
    margin-top: 12px;
    > label {
      
    }
  }

  .searchbox-suggestions {
    padding: 9px 0 0 10px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    background: #fff;
    ul {
      padding-left: 0px;
      li {
        padding: 3px 0;
        a {
          color: $brand-a;
          font-weight: 500;
        }
      }
    }
  }
}

.regular-search-wrapper {
  padding-top: 6px;
  margin-right: -15px;
  text-align: right;

  input[type="search"] {
    padding: .5em;
    border: 1px solid $base-e;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  input[type="submit"] {
    border: 1px solid $base-e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: .5em 2em;
    margin-left: -7px;
    margin-top: -2px;
    background: url("http://p4.zdassets.com/hc/theme_assets/1021718/200071026/search-submit-dark-grey.png") no-repeat center center #fff;
    background-size: 22px;
    text-indent: -9999px;
  }

}