#section_articles_container {

  .section {
    h3.title {
      color: $brand-a;
      padding: 0 0 5px;
      margin: 0;
      font-weight: 700;
      display: inline-block;
    }
    li a {
      color: #5b5b5b;
    }
  }
}