strong {
  font-weight: bold;
}

h1.article-head,
h1.page-header,
main h3,
.section-tree h3,
.promoted-article-panel .promoted-articles h3,
section.related-articles h3,
section.recent-articles h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

a.home-section-card h3 {
  font-family: $primary-font-condensed;
  font-size: $display-font-size;
  font-weight: $condensed-font-weight;
}

.home-section {
  .icon-block i.fa {
    font-size: 2.2em;
  }
}

#home-page-search {
  input#query {
    font-size: $display-font-size;
  }
}