/////////////////////////////////////////
// EDGESTAR SITE SPECIFIC COLOR VARIABLES
/////////////////////////////////////////

// BLUES 
$brand-a:      #034667;
$brand-b:      #034667;
$brand-c:      #034667;
$brand-e:      #034667;
$brand-d:      lighten($brand-e, 7%);
$brand-edark1: darken($brand-e, 7%);
$brand-edark2: darken($brand-e, 14%);
$brand-f:      #034667;

// GREYS
$complementary-a:      #fafafa;
$complementary-b:      #dadada;
$complementary-c:      #bcbcbc;
$complementary-d:      #a5a5a5;
$complementary-e:      #7f7f7f;
$complementary-edark1: darken($complementary-e, 7%);
$complementary-edark2: darken($complementary-e, 14%);
$complementary-f:      #606060;

// GREYS
$base-a: #fff;
$base-b: #f2f2f2;
$base-c: #C3C3C3;
$base-d: #6E6A6A;
$base-e: #353333;
$base-f: #120A0A;

// SYSTEM COLOR
$system-a:      #ff9900; //emphasis or warning
$system-b:      #168e60; //add to cart
$system-bdark1: darken($system-b, 7%);
$system-bdark2: darken($system-b, 14%);
$system-c:      #60b760; //success
$system-d:      #bd4b4b; //error
$system-e:      #cc0000; //discount or savings
$system-edark1: darken($system-e, 7%);
$system-edark2: darken($system-e, 14%); 
$system-f:      #990000; //final price

/////////////////////
// ZENDESK VARIABLES
/////////////////////

$primary-site-font: 'Open Sans', Helvetica, Arial, sans-serif;
$primary-site-font-condensed: 'Open Sans Condensed', Helvetica, Arial, sans-serif;

